@font-face {
  font-family: 'StretchPro';
  src: url('../fonts/stretchpro-webfont.ttf') format('truetype'),
    url('../fonts/stretchpro-webfont.woff2') format('woff2'),
    url('../fonts/stretchpro-webfont.woff') format('woff'),
    url('../fonts/stretchpro-webfont.eot'),
    url('../fonts/stretchpro-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/stretchpro-webfont.svg#stretch_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
